/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Font faces */
@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --clr-green: hsl(150, 100%, 63%);
  --clr-purple-900: hsl(273, 85%, 13%);
  --clr-purple-500: hsl(271, 12%, 34%);
  --clr-purple-100: hsl(276, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-heading: "Fraunces", serif;
  --ff-body: "Manrope", sans-serif;

  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.5rem;
  /* --fs-400: 1.75rem; */
  --fs-500: 2rem;
  --fs-600: 3rem;
  --fs-700: 3.5rem;
  /* --fs-800: 3.75rem; */
  --fs-900: 5rem;

  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-350: 1.75rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-550: 2.75rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1100: 5.5rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
  --spacing-2100: 10.5rem;
  --spacing-3700: 18.5rem;
}

/* base */

body {
  font-family: var(--ff-body);
  font-size: clamp(var(--fs-100), 0.93rem + 0.305vw, var(--fs-200));
  color: var(--clr-purple-900);
}

h1,
h2 {
  font-family: var(--ff-heading);
}

h1 {
  font-size: clamp(var(--fs-600), 1.878rem + 4.878vw, var(--fs-900));
  text-wrap: wrap;
}

h2 {
  &[data-title="small"] {
    font-size: clamp(var(--fs-300), 0.829rem + 1.829vw, var(--fs-500));
  }

  &[data-title="large"] {
    font-size: clamp(var(--fs-500), 1.159rem + 3.659vw, var(--fs-700));
  }
}

/* layout */
.flow > * + * {
  margin-block-start: var(--spacing-400);
}

.wrapper {
  --wrapper-max-width: 1120px;

  max-inline-size: var(--wrapper-max-width);
  margin-inline: auto;
  padding-inline: clamp(
    var(--spacing-250),
    -0.566rem + 7.895vw,
    var(--spacing-550)
  );

  &[data-width="narrow"] {
    --wrapper-max-width: 60ch;
  }
}

section {
  @media (width < 768px) {
    &[data-text-center="mobile"],
    &[data-text-center="mobile-desktop"] {
      text-align: center;
    }
  }

  @media (width > 1023px) {
    &[data-text-center="mobile-desktop"] {
      text-align: center;
    }
  }
}

/* components */

header {
  padding-block-start: clamp(
    var(--spacing-400),
    1.159rem + 3.659vw,
    var(--spacing-700)
  );
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.hero {
  text-align: center;
  padding-block-start: var(--spacing-700);
  padding-block-end: clamp(
    var(--spacing-1800),
    8.159rem + 3.659vw,
    var(--spacing-2100)
  );

  h1 {
    margin-block-end: var(--spacing-500);
  }
}

.hero-image {
  margin-block-start: calc(
    -1 * clamp(var(--spacing-1100), 3.2rem + 10vw, var(--spacing-1600))
  );
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--clr-purple-100);
    z-index: -1;
  }
}

.features-list {
  padding-block-start: clamp(
    var(--spacing-800),
    3.159rem + 3.659vw,
    var(--spacing-1100)
  );
  padding-block-end: clamp(
    var(--spacing-800),
    1.195rem + 12.195vw,
    var(--spacing-1800)
  );
}

.about {
  padding-block-start: var(--spacing-1400);
}

.callout {
  padding: clamp(var(--spacing-400), 0.878rem + 4.878vw, var(--spacing-800));
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--spacing-700);
  padding-block: clamp(
    var(--spacing-1000),
    3.878rem + 4.878vw,
    var(--spacing-1400)
  );
}

ul {
  display: flex;
  gap: var(--spacing-350);
}

.button-link {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-purple-900);
  background-color: var(--clr-green);
  padding: var(--spacing-150) var(--spacing-400);
}

.button-link,
a {
  font-weight: 700;
  font-size: var(--fs-200);
}

.underline,
header a {
  text-decoration: underline solid var(--clr-green) 3px;
  text-underline-offset: 10px;
}

/* utilities */

.bg-dark {
  background-color: var(--clr-purple-900);
  color: var(--clr-white);
}

.bg-light {
  background-color: var(--clr-purple-100);
}

/* [data-bottom-curved="hero"] {
  anchor-name: --hero;

  &::after {
    position-anchor: --hero;
  }
}

[data-bottom-curved="features"] {
  anchor-name: --features;

  &::after {
    position-anchor: --features;
  }
}

[data-bottom-curved]::after {
  content: "";
  position: absolute;
  position-area: bottom center;
  background-color: inherit;
  width: 100%;
  height: 48px;
  border-radius: 100%;
  top: calc(anchor(bottom) - 24px);
} */
